{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>



    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <br>
        <input type="text" name="title" placeholder="Enter a title">

        {% if error %}
            <span class="error">{{ error }}</span>
        {% endif %}

        <br>
        <br>
        <label>Content:</label>
        <br>
        <textarea name="content" placeholder="Description"></textarea>
        <br>
        <input type="submit" value="Create New Page" class="btn btn-primary">
    </form>

{% endblock %}